/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:200,400,700|Indie+Flower');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/cards.css");
@import url("components/avatars.css");
@import url("components/containers.css");
@import url("components/banners.css");
@import url("components/buttons.css");

/* Utilities */
body {
  margin: 0;
  font-family: "Indie Flower", cursive;
}

h1, h2, h3, h4 {
  font-family: 'Indie Flower', cursive;
}

a {
  text-decoration: none;
  color: white;
}

/* Custom design below! */

.inline-list-item {
  display: inline-block;
}

#footer {
  display: flex;
  background-image: linear-gradient(120deg, #E5C9C0 0%, #934B66 74%);
  align-content: center;
  padding: 3em 0;
}

#footer .social-icon {
  transition: transform 0.3s;
  margin: 10px;
  color: white;
}

#footer .social-icon:hover {
  transform: scale(1.1);
}

#follow-me {
  text-align: center;
  color: white;
}

#follow-me h3 {
  margin: 0;
  font-size: 0.8em;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#footer .social-list {
  padding: 0;
  font-size: 2em;
  margin: 0;
}

#footer .social-list h3 {
  text-align: center;
  font-weight: 200;
}
